@import 'normalize';
@import 'variables';
// @import 'fonts';


html, 
body {
    font-size: 16px;
    line-height: 1.375rem;
    color: $color-black;
    font-family: "Helvetica", "Arial", "Sans-serif";
    background-color: $color-white;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.75rem;
    margin-top: 2.5rem;
}

p {
    padding: 0;
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: $color-black;

    &:hover {
        .item-link,
        .item-title__small {
            text-decoration: underline;
        }
    }

    &:visited {
        color: $color-black;
    }
}


.text__right {
    text-align: right;
}

.header,
footer {
    height: 4.375rem;
    border-bottom: solid 1px $color-light-gray;
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        height: 70px;
        max-width: 980px;
        margin-right: auto;
        margin-left: auto;
        
    }

    .logo {
        margin-right: 80px;
        padding-top: 11px;
    }
    
    .menu-item {
        display: inline-flex;
        margin: 0 42px 0 0;
        
        font-size: .875rem;
        font-weight: 700;

        text-decoration: none;
        color: $color-black;
        
        &:last-child {
            margin-right: 0;
        }


        &:hover {
            transition-duration: .33s;
            color: $color-orange;
        }
    }
}

footer {
    font-size: .75rem;
    line-height: .875rem;
    border-bottom: none;
    border-top: solid 1px $color-light-gray;
    margin-top: 1rem;

    .logo {
        margin-right: 0;
    }
}

.item-head {
    margin-bottom: .85rem;

    .item-info {
        margin-bottom: 0;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.row-article {
}

.article-container {
    width: 620px;
    padding-right: 49px;
    border-right: solid 1px $color-light-gray;
}

.aside-container {
    width: 309px - 41px;
    padding-left: 41px;
}

.item-title { 
    font-size: 2rem;
    font-weight: 800;
    line-height: 2.375rem;
}

.item-category {
    font-size: .5rem;
    line-height: .625rem;
    font-weight: 400;
    color: $color-white;
    
    background-color: rgba(black, .6);
    padding: 4px 8px 3px;
    position: absolute;
    right: 4px;
    top: 4px;
}

.item-img__article {
    width: 100%;
    margin-top: 1.125rem;
    margin-bottom: 1.25rem;
}

.item-img__inline-square {
    width: 150px;
    height: 150px;
    margin-right: .875rem;
}

.item-img__inline-l {
    width: 266px;
    margin-bottom: .375rem;
    position: relative;
}

.item-img__inline-s { 
    width: 84px;
}

.load-in-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 980px;
    margin-top: 40px;
    font-weight: 800;
    line-height: 1.25rem;
    
    .item-img__inline-l { //Врезки больших новостей в подвале
        width: 234px;
        height: auto;
    }

    .item-img__inline-s { // Врезки  малых новостей в подвале
        width: 114px;
        height: 76px;
        padding-right: 10px;
    }
}

.item-size__s {
    width: 483px;
    flex-direction: row !important;
    margin-bottom: 2rem !important;
    line-height: 1.375rem;
}

.item-separator {
    width: 100%;
    height: 1px;
    margin-top: -8px;
    margin-bottom: 24px;
    background-color: $color-light-gray;
}

.item-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.item-size__l {
    width: 234px;
    margin-bottom: 2rem;
}

.item-img {
    display: flex;
    flex-shrink: 0;

    img {
        width: 100%;
        height: 100%;
    }
}

//Врезанный блок в статью
.item {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.item__no-image,
.item__left-border {
    .item-title {
        font-size: 1.5rem; 
    }

    .item-title__small {
        font-size: 1rem;
        line-height: 1.375rem;
    }

    .item-container__small {
        display: flex;
        flex-direction: column;

        &:first-child {
            border-top: none;
        }
    
        &:last-child {
            border-bottom: none;
        }
    }
}

.item__no-image {
    &:not(.item__left-border) {
        .stat__data__view {
            display: none;
        }
    }
}



.item__left-border {
    width: calc(100% - 28px);
    padding-left: 24px;
    border-left: solid $color-orange 4px;
}

.item-container__small {
    display: flex;
    flex-direction: row;
    padding: 12px 0;

    border-top: solid 1px $color-light-gray;
    border-bottom: solid 1px $color-light-gray;

    &:not(:first-child){
        border-top: none;
    }

    &:last-child {
        margin-right: 0;
    }
}

.item-title__small {
    display: flex;
    margin-bottom: .4rem;

    font-size: 1.5rem ;
    line-height: 1.75rem;
    font-weight: 800;
}

.item-container__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.item-quote {
    font-size: 1.5rem;
    line-height: 1.875rem;
    
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-left: 68px;

    background-image: url(../../static/icons/icon-quote.svg);
    background-repeat: no-repeat;
}

.item__red-block {    
    float: left;
    width: 306px - 40px;
    padding: 20px 20px 8px 20px;
    margin: 0 18px 8px 0;
    background-color: #FFEFE5;

    .item-link {
        margin-bottom: .4rem;
    }

    img {
        height: 50px;
    }
}

.item-link__bold {
    font-weight: 800;
}

// Боковые новости
.item__red-block,
.item__hot {
    display: flex;
    flex-direction: column;
    
    font-size: .875rem;
    line-height: 1rem;

    a {
        min-height: 50.4px;
    }
    
    .item-img {
        margin-bottom: 0;
    }

    .item-title__small {
        padding-left: 0;
        width: 100%;
    }

    .item-container {
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;
    }

    img {
        flex-shrink: 0;
    }

    .item-link {
        margin-top: 0;
        padding-left: .5rem;
    }
}

.item__hot {
    margin-top: 6px;
    margin-bottom: 48px;
}

.item__actual {
    display: flex;
    flex-direction: column;
    font-weight: 800;

    a {
        min-height: 225.52px;
    }

    .item-title__small {
        padding-left: 0;
        width: 100%;
    }

    .item-link {
        margin-bottom: 0;
        line-height: 1.25rem;
        width: 266px;
    }

    .item-category {
        display: none;
    }
}

// Статистика и социалки
.item-info {
    display: flex;
    justify-content: space-between;

    margin-top: 0.8rem;
    margin-bottom: 3rem;
}

.item-stat {
    display: flex;
    flex-direction: row;
    align-items: center;

    .stat__data__time,
    .stat__data__view {
        display: flex;
        flex-direction: row;
        align-items: center;

        font-size: 0.8rem;
        color: $color-gray;
        margin-right: 24px;
    }

    .stat__data__view {
        margin-right: 0;
    }
}

// Иконки социалок
.item-share {
    display: flex;
    flex-direction: row;
}

.btn-share {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #dedede;

    width: 68px;
    height: 37px;
    margin-right: 3px;

    &:last-child {
        margin-right: 0px;
    }

    &:hover {
        transition-duration: .33s;
        border-color: $color-orange;
    }
}

.icons-social {
    display: block;
	width: 24px;
	height: 24px;
	background: url(../../static/icons/icons-social.svg) no-repeat;
}

.icon__facebook {
    background-position: 3px (0 + 4px);
}

.icon__twitter {
    background-position: 3px (-24px + 4px);
}

.icon__vk {
    background-position: 3px ((-24px * 2) +4px);
}

.icon__telegram {
    background-position: 3px ((-24px * 3) +4px);
}

.icon__share {
    background-position: 3px ((-24px * 4) +4px);
}



.icons-about-article {
    display: inline-block;
	width: 16px;
	height: 16px;
    background: url(../../static/icons/icons-about-article.svg) no-repeat;
    margin-right: .3rem;
}

.icon__time {
    background-position: 1px 2px;
    margin-left: -3px;
}

.icon__views {
    background-position: 1px -13px;
}





@media (min-width: 320px) and (max-width: 619px) {
    html, 
    body {
        font-size: 14px;
    }

    h2 {
        margin-bottom: .5rem;
    }

    .header {
        .logo {
            margin-right: 0 !important;
            padding-top: 0;
        }

        .container {
            justify-content: center;
        }
    }
    
    .row {
        margin-top: 1.3rem;
    }

    .row-article {
        margin-top: 1rem;
    }
    
    .item {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .item-head {
        display: flex;
        flex-direction: column;
    }
    
    .item-img__article {
        order: 0;
        margin-top: 0;
        margin-bottom: .85rem;
    }

    .item-info {
        display: flex;
        flex-direction: column;
        order: 2;
    }

    .stat__data__time {
        margin-right: 1.14rem !important;
    }

    .item-share {
        margin-top: .85rem;
    }

    .btn-share {
        width: 25%;
    }

    .item-title {
        order: 1;
        font-size: 1.714rem;
        line-height: 1.85rem;
    }

    .item-title__small {
        font-size: 1rem;
        line-height: 1.285rem;
    }

    .article-container, 
    .load-in-footer {
        width: calc(100% - 32px);
        padding-left: 16px;
        padding-right: 16px;
        border-right: none;
    }

    .item-img__inline-square {
        width: 100px;
        height: 100px;
    }
    
    .item__left-border {
        padding-left: .85rem;
    }

    .item-quote {
        background-size: 21px;
        padding-left: 2.285rem;
        font-size: 1.285rem;
        line-height: 1.714rem;
        background-position-y: 3px;
    }
    
    .load-in-footer {
        margin-top: 0;
    }

    .item-size__l {
        width: 100%;
        margin-bottom: 1.4rem;
        
        .item-img__inline-l{
            width: 100%;
        }
    }

    .item-category {
        font-size: .685rem;
        padding: 6px 8px 5px 8px;
    }

    nav,
    .item__red-block,
    .aside-container, 
    .item-size__s,
    .item-separator {
        display: none;
    }

    footer {
        .logo {
            display: none;
        }

        .container {
            flex-direction: column;
            justify-content: center;
            
            span {
                margin-bottom: .5rem;
            }

            .text__right {
                text-align: center;
            }
        } 
    }
}





@media (min-width: 414px) {
    .item-img__inline-square {
    width: 130px;
    height: 130px;
    }

    .item-title__small {
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
}

@media (min-width: 520px) {
    .item-title__small {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
}

@media (min-width: 415px) and (max-width: 619px) {
    .load-in-footer {
        margin-left: -14px;
    }

    .item-size__l {
        width: calc(50% - 14px);
        margin-left: 14px;
    }
}





@media (min-width: 620px) {
    .item-img__inline-square {
        width: 150px;
        height: 150px;
        }

    .item-title__small {
        font-size: 1.5rem ;
        line-height: 1.75rem;
    }
}

@media (min-width: 620px) and (max-width: 979px) {
    .header {
        .container {
            width: 620px;
            justify-content: center;

            .logo {
                margin-right: 2rem;
            }

            nav {
                display: none;
            }
        }
    }

    .row {
        margin-top: 1.5rem;
    }
    .article-container, 
    .load-in-footer {
        width: calc(100% - 32px);
        max-width: 620px;
        padding-left: 16px;
        padding-right: 16px;
        border-right: none;
    }
    
    .load-in-footer {
        margin-top: 0;
    }

    .aside-container {
        display: none;
    }

    .item-size__l {
        width: calc(50% - 14px);

        .item-img__inline-l {
            width: 100%;
        }
    }

    .item-separator,
    .item-size__s {
        display: none;
    }

    footer {
        .container {
            width: 620px;

            .logo {
                display: none;
            }
        }
    }
}