@import 'normalize';
@import 'variables';
// @import 'fonts';


html, 
body {
    font-size: 16px;
    color: $color-black;
    font-family: "Helvetica", "Arial", "Sans-serif";
    background-color: $color-white;
}

.header {
    height: 4.375rem;
    border-bottom: solid 1px $color-light-gray;
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        height: 70px;
        max-width: 980px;
        margin-right: auto;
        margin-left: auto;
        
    }

    .logo {
        margin-right: 80px;
        padding-top: 11px;
    }
    
    .menu-item {
        display: inline-flex;
        margin: 0 42px 0 0;
        
        font-size: .875rem;
        font-weight: 700;

        text-decoration: none;
        color: $color-black;

        &:last-child {
            margin-right: 0;
        }
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.row-article {
    // background-color: #b2f137;
}

.article-container {
    width: 620px;
    padding-right: 49px;
    border-right: solid 1px $color-light-gray;
    // background-color: #e1e1e1;
}

.aside-container {
    width: 309px - 41px;
    padding-left: 41px;
    // background-color: red;
}

.item-title { 
    font-size: 2rem;
    font-weight: 800;
    line-height: 2.375rem;
}

.item-thumb {
    width: 620px;
    height: 349px;
    background-color: #d3d3d3;
    margin-top: 1.125rem;
}


//Врезанный блок в статью
.item {
    width: 100%;
    margin: 20px 0;
}

.item__left-border {
    width: calc(100% - 28px);
    padding-left: 24px;
    border-left: solid #FF6100 4px;

    .item-title__small {
        display: flex;
        width: 100%;
        margin-bottom: .4rem;

        font-size: 1rem;
        line-height: 1.375rem;
    }

    .item-container__small {
        display: flex;
        flex-direction: column;;


        &:first-child {
            border-top: none;
        }
    
        &:last-child {
            border-bottom: none;
        }
    }
}

.item-container__small {
    display: flex;
    flex-direction: row;
    padding: 12px 0;

    border-top: solid 1px $color-light-gray;
    border-bottom: solid 1px $color-light-gray;

    &:not(:first-child){
        border-top: none;
    }
}

.item-cover__small {
    display: block;
    width: 150px;
    height: 150px;
    margin-right: .875rem;
    background-color: $color-light-gray;
}

.item-title__small {
    display: flex;

    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 800;
    width: 450px;
}

.item-container__text {
    display: flex;
    flex-direction: column;
    align-content: space-between;

    // .item-stat {
    //     align-self: end;
    // }
}

// Боковые новости
.item__hot {
    display: flex;
    flex-direction: column;
    font-size: .875rem;

    .item-title__small {
        padding-left: 0;
        width: 100%;
    }

    .item-container {
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;
    }

    img {
        width: 84px;
        height: 56px;
        background-color: $color-light-gray;
    }

    .item-link {
        width: 196px;
        margin-top: 0;
        padding-left: .5rem;
    }
}

.item__actual {
    display: flex;
    flex-direction: column;
    font-weight: 800;

    .item-title__small {
        padding-left: 0;
        width: 100%;
    }

    .item-container {
        display: inline-block;
        margin-bottom: 1.5rem;
    }

    img {
        width: 266px;
        height: 148px;
        background-color: $color-light-gray;
        margin-bottom: .25rem;
    }

    .item-link {
        margin-bottom: 0;
        line-height: 1.25rem;
        width: 266px;
    }
}



// Статистика и социалки
.item-info {
    display: flex;
    justify-content: space-between;

    margin-top: 0.8rem;
}

.item-stat {
    display: flex;
    flex-direction: row;
    align-items: center;

    .stat__data {
        display: flex;
        flex-direction: row;
        align-items: center;

        font-size: 0.8rem;
        color: $color-gray;
        margin-right: 24px;
    }
}


// Иконки социалок
.item-share {
    display: flex;
    flex-direction: row;

}

.btn-share {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #dedede;

    width: 68px;
    height: 37px;
    margin-right: 3px;

    &:last-child {
        margin-right: 0px;
    }
}

.icons-social {
    display: block;
	width: 24px;
	height: 24px;
	background: url(../../static/icons/icons-social.svg) no-repeat;
}

.icon__facebook {
    background-position: 3px (0 + 4px);
}

.icon__twitter {
    background-position: 3px (-24px + 4px);
}

.icon__vk {
    background-position: 3px ((-24px * 2) +4px);
}

.icon__telegram {
    background-position: 3px ((-24px * 3) +4px);
}

.icon__share {
    background-position: 3px ((-24px * 4) +4px);
}



.icons-about-article {
    display: inline-block;
	width: 16px;
	height: 16px;
    background: url(../../static/icons/icons-about-article.svg) no-repeat;
    margin-right: .3rem;
}

.icon__time {
    background-position: 1px 2px;
    margin-left: -3px;
}

.icon__views {
    background-position: 1px -13px;
}


// @media (min-width: 320px) and (max-width: 414px) {
// }


